VITE_API_URL=http://localhost:4000
VITE_USE_API=false
VITE_WHATSAPP_NUMBER=51950332871
VITE_INSTAGRAM_URL=https://instagram.com/tuusuario
VITE_TIKTOK_URL=https://tiktok.com/@tuusuario
VITE_FACEBOOK_URL=https://facebook.com/tuusuario
