PORT=4000
DATABASE_URL="postgresql://usuario:password@localhost:5432/vapequest"
DIRECT_URL="postgresql://usuario:password@localhost:5432/vapequest"
JWT_SECRET="vapequest_desarrollo_secret_123456789"
ADMIN_EMAIL="admin@vapequest.pe"
ADMIN_PASSWORD="admin123"
